.page {
  padding: 0 20px;
  padding-bottom: 20px;
  user-select: none;
}
.top_wrap {
  margin-top: 20px;
  margin-bottom: 30px;
}
.flex_wp {
  display: flex;
  align-items: center;
}
.title_wrap {
  margin-bottom: 20px;
}
.info_item {
  margin-bottom: 10px;
  .flex_1 {
    flex: 1;
  }
}
